.credits(data-component="carousel")
  .credit.js-carouselItem(data-type="capital")
    .credit-cover.credit-cover__big
      .credit-cover_label Ваш вариант кредита
      .credit-cover_title Крупный
      .credit-cover_sup Крупная сумма по минимальной ставке

    .credit_body.js-desc
      .credit_meta
        .credit_meta-value 17%
        .credit_meta-label Ставка

      .credit_meta
        .credit_meta-value до 3 млн.руб.
        .credit_meta-label Сумма

      .credit_meta
        .credit_meta-value 13-60
        .credit_meta-label Cрок

      .credit_desc Время трудностей – время новых возможностей. Для вас в кризис жизнь не останавливается. Да, приходится по-другому к ней относиться и даже в чем-то менять свои привычки, но не радикально, так как есть уверенность в завтрашнем дне. Даже в кризис вам ничего не помешает реализовать задуманное.

      //a.btn.btn__info(href="/impression.html") Спланировать ремонт

      a.btn(href="http://www.vtb24.ru/personal/credit/cash/Pages/default.aspx?code=special_credcash_inmyroom_large&utm_source=special_credcash_inmyroom_large&utm_medium=special&utm_campaign=special_credcash_inmyroom_large" target="_blank") Оставить заявку

      //a.credit_back(href="#!result") Вернуться к результатам теста

  .credit.js-carouselItem(data-type="cosmetic")
    .credit-cover.credit-cover__fast
      .credit-cover_label Ваш вариант кредита
      .credit-cover_title Быстрый
      .credit-cover_sup Фиксированная ставка на короткий срок

    .credit_body.js-desc
      .credit_meta
        .credit_meta-value 18%
        .credit_meta-label Ставка

      .credit_meta
        .credit_meta-value до 3 млн.руб.
        .credit_meta-label Сумма

      .credit_meta
        .credit_meta-value 6-12
        .credit_meta-label Cрок

      .credit_desc Для вас кредит - это способ воплотить в жизнь свои мечты и желания! Если подойти к этому вопросу с умом, то можно совершить выгодную покупку в нужное время, а при появлении возможности досрочно погасить кредит. Цены постоянно растут, поэтому, вложив деньги, можно использовать все преимущества уже сейчас.

      //a.btn.btn__info(href="/impression.html") Спланировать ремонт

      a.btn(href="http://www.vtb24.ru/personal/credit/cash/Pages/default.aspx?code=special_credcash_inmyroom_fast&utm_source=special_credcash_inmyroom_fast&utm_medium=special&utm_campaign=special_credcash_inmyroom_fast" target="_blank") Оставить заявку

      //a.credit_back(href="#!result") Вернуться к результатам теста

  .credit.js-carouselItem(data-type="smart")
    .credit-cover.credit-cover__smart
      .credit-cover_label Ваш вариант кредита
      .credit-cover_title Удобный
      .credit-cover_sup Комфортный платеж по кредиту

    .credit_body.js-desc
      .credit_meta
        .credit_meta-value 19%
        .credit_meta-label Ставка

      .credit_meta
        .credit_meta-value до 399 999 руб.
        .credit_meta-label Сумма

      .credit_meta
        .credit_meta-value 13-60
        .credit_meta-label Cрок

      .credit_desc Для вас кредит – это удобный инструмент для приобретения необходимых вещей. Вы тот человек, который любит  моментально исполнять свои желания, не откладывая решение «в долгий ящик». Вы предпочитаете заранее планировать свой бюджет, поэтому комфортный ежемесячный платеж создан именно для вас.

      //a.btn.btn__info(href="/impression.html") Спланировать ремонт

      a.btn(href="http://www.vtb24.ru/personal/credit/cash/Pages/default.aspx?code=special_credcash_inmyroom_comfort&utm_source=special_credcash_inmyroom_comfort&utm_medium=special&utm_campaign=special_credcash_inmyroom_comfort" target="_blank") Оставить заявку


      //a.credit_back(href="#!result") Вернуться к результатам теста

