doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="shortcut icon" type="image/png" href="/assets/favicon.png")
    block title
      title К какому ремонту вы готовы?
    link(rel="stylesheet" href="/assets/main.css")
  body
    .video-bg
      video(autoplay loop)
        source(src="/assets/bg-l.mp4" type="video/mp4")
        source(src="/assets/bg-l.webm" type="video/webm")

    include ../partials/header.jade

    #page.main.container
      block content

    script(src='/assets/templates.js')
    script(src='/assets/main.js')
